In [26]:
import pandas as pd
from datetime import datetime, timezone, timedelta

In [61]:
df1 = pd.read_stata('/Users/wangjunjie/Desktop/private/比赛-调研-助研/RA/张英广老师/暑假/VIX/VIXdata/VIX-before2004.dta')
df2 = pd.read_stata('/Users/wangjunjie/Desktop/private/比赛-调研-助研/RA/张英广老师/暑假/VIX/VIXdata/VIX-after2004.dta')

In [62]:
df1 = df1.rename(columns = {'Date':'date', 'VIXOpen':'vixopen','VIXHigh':'vixhigh',"VIXClose":'vixclose','VIXLow':'vixlow'}).dropna()

In [70]:
df3 = df1.append(df2)
df3

                     date vixopen vixhigh vixlow vixclose
0     1990-01-02 00:00:00     n/a     n/a    n/a    17.24
1     1990-01-03 00:00:00     n/a     n/a    n/a    18.19
2     1990-01-04 00:00:00     n/a     n/a    n/a    19.22
3     1990-01-05 00:00:00     n/a     n/a    n/a    20.11
4     1990-01-08 00:00:00     n/a     n/a    n/a    20.26
...                   ...     ...     ...    ...      ...
4148  2020-06-25 00:00:00   36.59   36.93  31.59    32.22
4149  2020-06-26 00:00:00   33.01   36.25  31.04    34.73
4150  2020-06-29 00:00:00   35.05   36.31  31.78    31.78
4151  2020-06-30 00:00:00   32.54   32.94  29.56    30.43
4152  2020-07-01 00:00:00   30.96   31.76   28.2    28.62

[7685 rows x 5 columns]

In [63]:
df2['date'] = pd.to_datetime(df2['date']).dt.strftime('%Y-%m-%d')

In [69]:
for index in df2.index:
    df2['date'][index] = datetime.strptime(df2['date'][index],"%Y-%m-%d")

/Users/wangjunjie/Library/Python/3.7/lib/python/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [57]:
#str->dateTime 字符串转成日期datetime
#strptime(str,format)
oneDay_str="2020-06-30"
oneDay_datetime=datetime.strptime(oneDay_str,"%Y-%m-%d")
print("字符串转成日期datetime",oneDay_datetime)

字符串转成日期datetime 2020-06-30 00:00:00

In [71]:
df3.sort_values(by = 'date')

                     date vixopen vixhigh vixlow vixclose
0     1990-01-02 00:00:00     n/a     n/a    n/a    17.24
1     1990-01-03 00:00:00     n/a     n/a    n/a    18.19
2     1990-01-04 00:00:00     n/a     n/a    n/a    19.22
3     1990-01-05 00:00:00     n/a     n/a    n/a    20.11
4     1990-01-08 00:00:00     n/a     n/a    n/a    20.26
...                   ...     ...     ...    ...      ...
4148  2020-06-25 00:00:00   36.59   36.93  31.59    32.22
4149  2020-06-26 00:00:00   33.01   36.25  31.04    34.73
4150  2020-06-29 00:00:00   35.05   36.31  31.78    31.78
4151  2020-06-30 00:00:00   32.54   32.94  29.56    30.43
4152  2020-07-01 00:00:00   30.96   31.76   28.2    28.62

[7685 rows x 5 columns]

In [74]:
df3.to_csv('VIX.dta')