In [2]:
import pandas as pd
import numpy as np
import datetime
import os
import warnings 
import sys
 
warnings.filterwarnings('ignore')

In [71]:
# 数据路径
df_target_path = '/Users/wangjunjie/Desktop/private/比赛 & 调研 & 助研/RA/张英广老师/暑假/delayed alpha/data/price target.dta'

In [ ]:
# target price数据较小，直接读取处理
df_tar = pd.read_stata(df_target_path, columns = ['cusip', 'anndats', 'value', 'estimid', 'alysnam'])

# 加入‘date’数据方便计算
df_tar['date'] = df_tar['anndats']
df_tar = df_tar.drop('anndats', axis = 1)

# flag用来记录修改过的数据
df_tar['flag'] = False

In [74]:
# 形成trade_list

df_prc_2011 = pd.read_stata(df_price_path_3, columns = ['date'], iterator = True)
df_prc_1 = df_prc_2011.get_chunk(100000)

df_prc_2001 = pd.read_stata(df_price_path_2, columns = ['date'], iterator = True)
df_prc_2 = df_prc_2001.get_chunk(100000)

df_prc_1975 = pd.read_stata(df_price_path_1, columns = ['date'], iterator = True)
df_prc_3 = df_prc_1975.get_chunk(100000)

In [75]:
print(df_prc_1['date'].max())
print(df_prc_1['date'].min())

print(df_prc_2['date'].max())
print(df_prc_2['date'].min())

print(df_prc_3['date'].max())
print(df_prc_3['date'].min())

2020-02-28 00:00:00
2011-01-03 00:00:00
2010-12-31 00:00:00
2001-01-02 00:00:00
2000-12-29 00:00:00
1999-02-19 00:00:00

In [76]:
# 文件中的时间跨度：
# 这个时间跨度是事先通过观察数据确定的--只属于xxxx--20xx.dta数据集
# 手动得到

max_date_2011 = pd.Timestamp(2020, 2, 28)
min_date_2011 = pd.Timestamp(2011, 1, 3)

max_data_2001 = pd.Timestamp(2010, 12, 31)
min_data_2001 = pd.Timestamp(2001, 1, 2)

max_data_1975 = pd.Timestamp(2000, 12, 29)
min_data_1975 = pd.Timestamp(2001, 1, 2)

In [77]:
# 将stock price的所有trading date生成一个list
# 思路是通过这个list来调整target price data
trading_date_1 = pd.DataFrame(df_prc_1.groupby('date').nunique()['date'])
trading_date_1 = trading_date_1.drop('date', axis = 1).reset_index()
trade_list_1 = list(trading_date_1['date'].values)

trading_date_2 = pd.DataFrame(df_prc_2.groupby('date').nunique()['date'])
trading_date_2 = trading_date_2.drop('date', axis = 1).reset_index()
trade_list_2 = list(trading_date_2['date'].values)

trading_date_3 = pd.DataFrame(df_prc_3.groupby('date').nunique()['date'])
trading_date_3 = trading_date_3.drop('date', axis = 1).reset_index()
trade_list_3 = list(trading_date_3['date'].values)

In [78]:
# 生成trading_date_list
# trade_list包含所有股票数据交易日
trade_list = trade_list_1 + trade_list_2 + trade_list_3

In [79]:
# sort for comparing
trade_list.sort()

In [350]:
#函数：寻找下一个交易日
def find_nearest(list, date):
    date = np.datetime64(date)
    
    # 防止越界
    # 此时是分析师数据的日期大于目前的股票数据
    if date > trade_list[-1] or date < trade_list[0]:
        return np.nan
        
    while (date in list) == False:
        date = np.datetime64(date + pd.Timedelta(days=1))
        # print the wrong date to inform
        #print(date)

    return np.datetime64(date)

# 主函数：调整dataframe时间列
def process_time(trading_list, df): 
    count = 0
    for index in df.index:
        time = np.datetime64(df['date'][index])

        if (time in trading_list) == False and index < len(df) - 1:
            # find the last valid date
            new_time = find_nearest(trading_list, time)
            df['flag'][index] = True
            print('Wps {} '.format(new_time))
            df['date'][index] = new_time
            count = count + 1

        if (time in trading_list) == False and index == len(df) - 1:
            df['date'][index] = np.nan
    # 计算调整过多少个
    print('there are {} deviation in target price data'.format(count))
    df.to_csv('/Users/wangjunjie/Desktop/python lab/data_modify_price/data_target_price.csv')

In [352]:
# waste time a lot :-<
# we then get the modified target price data for later.
# we save the data
target_price_modi = process_time(trade_list, df_tar)

In [3]:
# modify之后的target price数据
# 另外导入了一次，开始下面的merge及分析

target_price_modi = (pd.read_stata('/Users/wangjunjie/Desktop/private/比赛 & 调研 & 助研/RA/张英广老师/暑假/delayed alpha/data/updated_target.dta'))

In [4]:
df_price_path_1 = '/Users/wangjunjie/Desktop/private/比赛 & 调研 & 助研/RA/张英广老师/暑假/delayed alpha/data/stock_data/new/1999-2000_new.dta'
df_price_path_2 = '/Users/wangjunjie/Desktop/private/比赛 & 调研 & 助研/RA/张英广老师/暑假/delayed alpha/data/stock_data/new/2001-2010_new.dta'
df_price_path_3 = '/Users/wangjunjie/Desktop/private/比赛 & 调研 & 助研/RA/张英广老师/暑假/delayed alpha/data/stock_data/new/2011-2020_new.dta'

df_1 = pd.read_stata(df_price_path_1, columns =  ['permno', 'ncusip', 'date', 'prc', 'ret'])
df_2 = pd.read_stata(df_price_path_2, columns =  ['permno', 'ncusip', 'date', 'prc', 'ret'])
df_3 = pd.read_stata(df_price_path_3, columns =  ['permno', 'ncusip', 'date', 'prc', 'ret'])

In [38]:
frames = [df_1, df_2, df_3]
df_price = pd.concat(frames)

#df_output = pd.merge(df_price, target_price_modi, on = ['ncusip', 'date'])

In [39]:
# 股票信息存储在df_price_simple中
df_price_simple = df_price[['ncusip','ret','date','permno','prc']]

In [40]:
df_price_simple = df_price_simple.dropna(axis=0) 
#df_price_simple = df_price_simple.groupby(['ncusip','date'])['ret'].mean()

In [41]:
df_price_simple = df_price_simple.reset_index()

In [42]:
df_price_simple['index'] = df_price_simple.index
df_price_simple

             index    ncusip       ret       date   permno         prc
0                0  29274A10  0.014085 1999-02-19  10001.0    9.000000
1                1  29274A10 -0.013889 1999-02-22  10001.0   -8.875000
2                2  29274A10 -0.014085 1999-02-23  10001.0    8.750000
3                3  29274A10  0.000000 1999-02-24  10001.0    8.750000
4                4  29274A10  0.014286 1999-02-25  10001.0   -8.875000
...            ...       ...       ...        ...      ...         ...
37596615  37596615  88160R10 -0.074595 2020-02-24  93436.0  833.789978
37596616  37596616  88160R10 -0.040634 2020-02-25  93436.0  799.909973
37596617  37596617  88160R10 -0.026390 2020-02-26  93436.0  778.799988
37596618  37596618  88160R10 -0.128146 2020-02-27  93436.0  679.000000
37596619  37596619  88160R10 -0.016215 2020-02-28  93436.0  667.989990

[37596620 rows x 6 columns]

In [43]:
df_output = pd.merge(target_price_modi, df_price_simple, on = ['ncusip', 'date'])

In [44]:
df_output_1 = df_output[df_output['horizon'] == '12']

In [52]:
df_output_1['prc'] = abs(df_output_1['prc'])

df_output_1['last_day_price'] = df_output_1['prc'] / (1 + df_output_1['ret'])
df_output_1['expect_12_stock_return'] = df_output_1['value'] / df_output_1['last_day_price'] - 1
#df_output_1 = df_output_1.drop('level_0', axis = 1)

# 我们获得了第一个dataset！
#df_output_1.to_stata('output_standard.dta')

In [53]:
# 接着merge index数据
df_index_path = '/Users/wangjunjie/Desktop/private/比赛 & 调研 & 助研/RA/张英广老师/暑假/delayed alpha/data/stock market indexes-daily.dta/stock market indexes-daily.dta'
df_index = pd.read_stata(df_index_path, columns = ['ewretd','date'])
df_index['index_mar'] = df_index.index

df_output_index = pd.merge(df_output_1, df_index, on = ['date'])

In [60]:
# 我们对value取平均值，其他值实际上在给定date、ncusip后都相同，因此不影响
df_output_real = df_output_index.groupby(['ncusip','date']).mean()
df_output_real = df_output_real.reset_index()

# 保存一下
#df_output_real.to_stata('new_expect_12_data.dta')

In [61]:
index = df_output_real['index_y']
df_output_real = df_output_real.drop(['index_x','index_y'], axis = 1)
df_output_real['index'] = index

In [62]:
df_output_real

,ncusip,date,level_0,value,ret,permno,prc,last_day_price,expect_12_stock_return,ewretd,index_mar,index
0,00030710,2014-12-15,11736.0,35.0,-0.008678,14945.0,29.700001,29.959999,0.168224,-0.011453,23523.0,24766701.0
1,00030710,2015-01-08,11737.0,37.0,0.025489,14945.0,29.370001,28.639999,0.291899,0.013099,23539.0,24766717.0
2,00030710,2015-02-25,11738.0,41.0,0.122369,14945.0,37.330002,33.259998,0.232712,0.003326,23571.0,24766749.0
3,00030710,2015-03-05,11739.0,41.0,-0.017146,14945.0,32.099998,32.660000,0.255358,0.002430,23577.0,24766755.0
4,00030710,2015-05-21,11740.0,45.0,0.063323,14945.0,37.950001,35.689999,0.260857,0.000886,23631.0,24766809.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1209024,Y9530810,2019-12-17,5459112.0,27.0,-0.091721,15857.0,15.250000,16.790001,0.608100,0.002179,24783.0,25504721.0
1209025,Y9530810,2019-12-30,5459113.5,20.0,-0.494624,15857.0,7.990000,15.810001,0.265022,-0.001236,24791.0,25504729.0
1209026,Y9530810,2019-12-31,5459115.5,15.0,0.003129,15857.0,8.015000,7.990000,0.877347,0.005045,24792.0,25504730.0
1209027,Y9530810,2020-01-02,5459117.0,20.0,-0.004367,15857.0,7.980000,8.015000,1.495321,0.005470,24793.0,25504731.0
1209028,Y9530810,2020-01-21,5459118.0,18.0,0.017767,15857.0,8.020000,7.880000,1.284264,-0.004034,24805.0,25504743.0

In [63]:
df_use = df_output_real[['date','ret','ewretd','expect_12_stock_return', 'ncusip', 'index', 'index_mar','permno']]

# 删除没有expect-12-return的数据
df_use = df_use[~np.isnan(df_use['expect_12_stock_return'])]

# 按照exp-12-return分组之前按照其排序
df_group = df_use.sort_values(by = 'expect_12_stock_return').reset_index()

In [64]:
df_use = df_use[~np.isnan(df_use['ret'])]

In [680]:
df_use.groupby('ncusip').count()

          date  ret  ewretd  expect_12_stock_return  index  index_mar  permno
ncusip
00030710    36   36      36                      36     36         36      36
00036020    60   60      60                      60     60         60      60
00036110   202  202     202                     202    202        202     202
00037520   196  196     196                     196    196        196     196
00040010    17   17      17                      17     17         17      17
...        ...  ...     ...                     ...    ...        ...     ...
Y8897Y80     3    3       3                       3      3          3       3
Y8977Y10    19   19      19                      19     19         19      19
Y9369110    70   70      70                      70     70         70      70
Y9384M10    22   22      22                      22     22         22      22
Y9530810    42   42      42                      42     42         42      42

[13742 rows x 7 columns]

In [65]:
def split(origin_list, n):
    lista = []
    
    if len(origin_list) % n == 0:
        cnt = len(origin_list) // n
    else:
        cnt = len(origin_list) // n + 1
 
    for i in range(0, n):
        lista.append(origin_list[i*cnt:(i+1)*cnt])
    return lista

In [66]:
list_group = split(df_group, 8)
list_group

[        level_0       date       ret    ewretd  expect_12_stock_return  \
 0          9125 2004-08-11 -0.157556 -0.006461               -1.000000
 1       1142769 2011-05-06 -0.029630  0.004575               -1.000000
 2        486625 2003-06-16 -0.120603  0.011857               -1.000000
 3        361953 2011-02-15 -0.023605 -0.003015               -1.000000
 4       1142768 2011-05-02 -0.237374 -0.006003               -1.000000
 ...         ...        ...       ...       ...                     ...
 151124   673898 2003-12-15 -0.012496 -0.008949               -0.000357
 151125   179766 2006-04-28  0.012139  0.003117               -0.000357
 151126   198183 2011-02-18  0.010175  0.001088               -0.000357
 151127   988583 2014-08-14 -0.002499  0.002516               -0.000357
 151128   359048 2007-02-15  0.000178  0.001444               -0.000357

           ncusip       index  index_mar   permno
 0       00252W10  12903018.0    20918.0  83918.0
 1       98424930  27953165.0    22615.0  59483.0
 2       40050B20  15494550.0    20627.0  87147.0
 3       27874N10  31638752.0    22559.0  86260.0
 4       98424930  27953161.0    22611.0  59483.0
 ...          ...         ...        ...      ...
 151124  58469910   8841697.0    20754.0  76656.0
 151125  12507110   6278166.0    21350.0  45655.0
 151126  13313110  29733353.0    22562.0  79452.0
 151127  86923910  23307508.0    23438.0  13584.0
 151128  27727610  13622936.0    21551.0  85082.0

 [151129 rows x 9 columns],
         level_0       date       ret    ewretd  expect_12_stock_return  \
 151129   683039 2009-07-24  0.003570  0.006538               -0.000357
 151130   501901 2004-10-28  0.002499  0.000071               -0.000357
 151131   824737 2007-03-19  0.007319  0.007394               -0.000357
 151132   943664 2004-12-23  0.002142  0.003446               -0.000357
 151133   960751 2014-03-21  0.003927 -0.000898               -0.000357
 ...         ...        ...       ...       ...                     ...
 302253   891827 2007-07-16  0.013578 -0.004465                0.064963
 302254   463545 2010-04-15 -0.001065  0.002767                0.064963
 302255  1112366 2003-07-18  0.001065  0.006940                0.064963
 302256   358389 2007-10-04 -0.002396  0.003147                0.064963
 302257   890709 2004-07-29  0.003461  0.010064                0.064963

           ncusip       index  index_mar   permno
 151129  59140710  20839638.0    22165.0  92339.0
 151130  41987010   6069259.0    20973.0  41187.0
 151131  72650310  18421859.0    21572.0  89858.0
 151132  83080P10  10326209.0    21012.0  79254.0
 151133  84857410  35257599.0    23337.0  91594.0
 ...          ...         ...        ...      ...
 302253  77441510  19582101.0    21654.0  90849.0
 302254  37247D10  18788370.0    22347.0  90162.0
 302255  94675610  16895933.0    20650.0  88749.0
 302256  27579R10  15049921.0    21711.0  86719.0
 302257  77390310  13261757.0    20909.0  84381.0

 [151129 rows x 9 columns],
         level_0       date       ret    ewretd  expect_12_stock_return  \
 302258   372007 2017-11-20  0.006922  0.003238                0.064963
 302259  1030888 2014-12-18 -0.046858  0.014707                0.064963
 302260   175185 2013-04-05 -0.012247 -0.001037                0.064963
 302261   531444 2013-12-18  0.013845  0.008528                0.064963
 302262   516726 2014-03-10 -0.007189 -0.001022                0.064963
 ...         ...        ...       ...       ...                     ...
 453382   920146 2009-03-11 -0.018219  0.005505                0.113360
 453383   575985 2010-08-12 -0.018219 -0.003016                0.113360
 453384   447459 2007-09-06 -0.029352  0.003937                0.113360
 453385   866355 2010-10-13  0.037449  0.011162                0.113360
 453386   374919 2008-10-06 -0.057692 -0.059322                0.113360

           ncusip       index  index_mar   permno
 302258  29082A10  32391845.0    24262.0  88392.0
 302259  88677Q10  23283391.0    23526.0  13563.0
 302260  12122010  23168635.0    23095.0  13430.0
 302261  44615010  27442366.0    23274.0  42906.0
 302262  43258910  26904404.0    23328.0  22840.0
 ...          ...         ...        ...      ...
 453382  80685710   4832089.0    22071.0  14277.0
 453383  47102X10  16398115.0    22430.0  88313.0
 453384  35952H10   9538318.0    21691.0  77699.0
 453385  75075340  21226430.0    22473.0  93068.0
 453386  29247520   5719674.0    21964.0  32540.0

 [151129 rows x 9 columns],
         level_0       date       ret    ewretd  expect_12_stock_return  \
 453387   514887 2012-05-24  0.072875  0.001696                 0.11336
 453388   363005 2012-02-29 -0.028340 -0.009158                 0.11336
 453389   988554 2013-05-10  0.064777  0.005393                 0.11336
 453390   602975 2006-07-28 -0.015520  0.011783                 0.11336
 453391   954086 2010-08-17  0.021592  0.012328                 0.11336
 ...         ...        ...       ...       ...                     ...
 604511    81388 2003-05-22  0.013861  0.008584                 0.15983
 604512  1143268 2004-06-30  0.029703  0.006794                 0.15983
 604513   497015 2009-12-16  0.027723  0.005027                 0.15983
 604514   908091 2010-08-05  0.051485 -0.004130                 0.15983
 604515    77922 2002-04-29 -0.057284 -0.006307                 0.15983

           ncusip       index  index_mar   permno
 453387  42833L10  35955512.0    22880.0  92177.0
 453388  27886510  28356437.0    22820.0  70578.0
 453389  86923910  23307190.0    23120.0  13584.0
 453390  50105210   9510246.0    21413.0  77662.0
 453391  84265V10  12273036.0    22433.0  82800.0
 ...          ...         ...        ...      ...
 604511  03748R10  11283490.0    20611.0  80711.0
 604512  98433210  12563615.0    20889.0  83435.0
 604513  41131010  16155964.0    22266.0  88031.0
 604514  78505P10  20083731.0    22425.0  91367.0
 604515  03674B10  17445617.0    20342.0  89179.0

 [151129 rows x 9 columns],
         level_0       date       ret    ewretd  expect_12_stock_return  \
 604516   686656 2010-04-20  0.010342  0.011967                0.159831
 604517   838449 2009-05-11  0.037941 -0.006809                0.159835
 604518   628094 2008-04-16  0.048300  0.017917                0.159835
 604519   139252 2005-08-15 -0.014299  0.002420                0.159835
 604520  1037148 2007-04-17  0.005402 -0.000892                0.159835
 ...         ...        ...       ...       ...                     ...
 755640  1156897 2011-04-20 -0.006222  0.012661                0.214815
 755641   812581 2011-07-06 -0.006815  0.002874                0.214815
 755642   933679 2012-01-05 -0.007407  0.004055                0.214815
 755643   961854 2015-02-26  0.030667 -0.000217                0.214815
 755644   188090 2000-10-16 -0.014815  0.002151                0.214815

           ncusip       index  index_mar   permno
 604516  59491810   3998680.0    22350.0  10107.0
 604517  74150340  15119383.0    22113.0  86783.0
 604518  53567810   4073346.0    21844.0  10299.0
 604519  07556Q10  10966826.0    21173.0  80193.0
 604520  89147U10  19411488.0    21592.0  90697.0
 ...          ...         ...        ...      ...
 755640  G1008214  35991513.0    22604.0  92215.0
 755641  71654V40  32459593.0    22656.0  88490.0
 755642  82481R10  31453665.0    22783.0  85888.0
 755643  84863710  23116943.0    23572.0  13379.0
 755644  12660010    335776.0    19961.0  20395.0

 [151129 rows x 9 columns],
         level_0       date       ret    ewretd  expect_12_stock_return  \
 755645   427863 2012-10-22  0.009481 -0.000217                0.214815
 755646   681976 2006-07-19  0.026222  0.019059                0.214815
 755647   361254 2007-01-25  0.081667 -0.007872                0.214815
 755648    75076 2008-02-19  0.031704  0.002554                0.214815
 755649  1112252 2017-11-06 -0.051111  0.004424                0.214815
 ...         ...        ...       ...       ...                     ...
 906769   766768 2016-10-03 -0.008117 -0.000571                0.298701
 906770  1203143 2010-09-15  0.015584  0.001408                0.298701
 906771   835838 2015-07-22 -0.048237 -0.003049                0.298701
 906772   406652 2015-04-02  0.005141  0.004717                0.298701
 906773    63454 2013-09-18  0.024757  0.011768                0.298701

           ncusip       index  index_mar   permno
 755645  33616C10  22032900.0    22984.0  12448.0
 755646  59018810   6673614.0    21406.0  52919.0
 755647  27864210  14767360.0    21536.0  86356.0
 755648  03512820  14757004.0    21804.0  86341.0
 755649  94419L10  24806037.0    24252.0  14983.0
 ...          ...         ...        ...      ...
 906769  68218910  32227413.0    23976.0  88182.0
 906770  Y2065G10  19687757.0    22453.0  90943.0
 906771  74022D30  34591563.0    23673.0  90999.0
 906772  30249U10  32716314.0    23597.0  89004.0
 906773  03027X10  31570851.0    23210.0  86111.0

 [151129 rows x 9 columns],
          level_0       date       ret    ewretd  expect_12_stock_return  \
 906774    451460 2019-12-17  0.016234  0.002179                0.298701
 906775   1099873 2009-06-12  0.007215 -0.002603                0.298701
 906776   1203751 2011-07-22 -0.004329  0.001586                0.298701
 906777    246538 2008-10-14 -0.051948 -0.001674                0.298701
 906778    964316 2008-11-20 -0.051948 -0.067040                0.298701
 ...          ...        ...       ...       ...                     ...
 1057898   626751 2007-10-03 -0.021288 -0.003678                0.479751
 1057899   950689 2008-07-02 -0.048287 -0.018104                0.479751
 1057900   284793 2017-07-12  0.012461  0.007067                0.479751
 1057901  1136699 2019-02-25 -0.028816  0.002549                0.479751
 1057902   571605 2001-04-30  0.110592  0.010081                0.479751

            ncusip       index  index_mar   permno
 906774   36251C10  25634908.0    24783.0  16076.0
 906775   92870810  18955879.0    22136.0  90299.0
 906776   Y2069P10  22107913.0    22668.0  12500.0
 906777   17187110   6399491.0    21970.0  47677.0
 906778   85254C30  17616835.0    21997.0  89289.0
 ...           ...         ...        ...      ...
 1057898  53390010  11801547.0    21710.0  81678.0
 1057899  83545G10  14048440.0    21898.0  85627.0
 1057900  21075N20  32622938.0    24170.0  88871.0
 1057901  98212B10  22827108.0    24577.0  13141.0
 1057902  46612J10  10755089.0    20095.0  79879.0

 [151129 rows x 9 columns],
          level_0       date       ret    ewretd  expect_12_stock_return  \
 1057903  1079663 2010-10-22 -0.000935  0.005054                0.479751
 1057904   446161 2020-02-14  0.050196 -0.000396                0.479762
 1057905   396297 1999-10-21  0.034682 -0.003532                0.479769
 1057906   959512 2000-08-09  0.034682 -0.000003                0.479769
 1057907   557201 1999-09-22  0.023121  0.001607                0.479769
 ...          ...        ...       ...       ...                     ...
 1209024  1093075 2016-03-30 -0.003125  0.004491              890.443577
 1209025   383819 2020-02-19 -0.029289  0.005293              913.923390
 1209026   383813 2018-11-07  0.048565  0.011238              975.061763
 1209027   784770 2018-02-12  0.030435  0.010860             1002.805783
 1209028   383817 2019-08-22 -0.028504 -0.002545             1012.729207

            ncusip       index  index_mar   permno
 1057903  91912E10  17669926.0    22480.0  89330.0
 1057904  35803910  24884526.0    24823.0  15067.0
 1057905  29980810   2423271.0    19712.0  82303.0
 1057906  84760T10   3733475.0    19914.0  87252.0
 1057907  45866510    643192.0    19691.0  44768.0
 ...           ...         ...        ...      ...
 1209024  92719110  30228454.0    23846.0  81049.0
 1209025  29278D10  25609696.0    24825.0  16034.0
 1209026  29278D10  25609376.0    24505.0  16034.0
 1209027  69354V10  26133051.0    24318.0  17094.0
 1209028  29278D10  25609573.0    24702.0  16034.0

 [151126 rows x 9 columns]]

In [87]:
df_stock = df_price_simple

In [651]:
# 通过此函数在事实上算出来股票的cummulative return
def RollingPrior(ret):
    log_ret = np.log(ret + 1)
    log_cumret = log_ret.shift(270).rolling(window = 281).sum() 
    return np.exp(log_cumret)

df_stock['cumret'] = df_stock.groupby('ncusip')['ret'].transform(RollingPrior)
df_index['cumret'] = df_index['ewretd'].transform(RollingPrior)

In [599]:
# 实际上 280 + 271 = 551之后才会有数据
# 因此后面需要调整
# 数据的损失是因为算法问题导致的，此处因为抛弃的数据较少，暂时先用这种方法
# 如果珍惜数据的话，需要另写函数
df_index.head(552)

       ewretd       date  index_mar    cumret
0         NaN 1925-12-31          0       NaN
1    0.009516 1926-01-02          1       NaN
2    0.005780 1926-01-04          2       NaN
3   -0.001927 1926-01-05          3       NaN
4    0.001182 1926-01-06          4       NaN
..        ...        ...        ...       ...
547 -0.001406 1927-10-27        547       NaN
548 -0.015248 1927-10-28        548       NaN
549 -0.005279 1927-10-29        549       NaN
550  0.007050 1927-10-31        550       NaN
551  0.002500 1927-11-01        551  1.070275

[552 rows x 4 columns]

In [565]:
# 我们可以最终获得股票的cummulative return
# 通过index, index_mar建立两个数据集的索引关系

for df in list_group:
    df['cumret'] = np.nan
    df['mar_cumret'] = np.nan
    df['cum'] = np.nan
    
    count = 0
    
    for index in df.index:
        # 使用index_refer作为桥梁传递
        
        if df['index'][index] < 270 or df['index_mar'][index] < 270:
            df['cum'] = np.nan
            count += 1
            continue
        
        else:
            
            df['cumret'][index] = df_stock['cumret'][df['index'][index] - 270]
            df['mar_cumret'][index] = df_index['cumret'][df['index_mar'][index] - 270]
        
            # 生成每一个股票，每一天的cum数据
            df['cum'] = df['cumret'][index] - df['mar_cumret'][index]
        #print(df['cum'][index])
    print('there is', count, 'NaN in list')

there is 28 NaN in list
there is 18 NaN in list
there is 23 NaN in list
there is 30 NaN in list
there is 21 NaN in list
there is 34 NaN in list
there is 39 NaN in list
there is 75 NaN in list

In [81]:
# 有一个小问题就是目前无法排除最后270天的数据，实际上这些数据是没法算的
# 但是因为前面rolling的算法，使得最后的cumret在最后的270天也存在
time_max = trade_list[-271]
print(time_max)
for i in range(0,8):
    
    # 处理时间问题
    list_group[i] = list_group[i][list_group[i]['date'] <= time_max]

2019-02-01T00:00:00.000000000

In [82]:
for i in range(0,8):
    list_group[i].drop('level_0', axis = 1, inplace = True)

In [83]:
df_group.drop('level_0', axis = 1, inplace = True)

In [95]:
df_group_1 = df_group[["permno", "date", "expect_12_stock_return"]]
df_group_1

          permno       date  expect_12_stock_return
0        83918.0 2004-08-11               -1.000000
1        59483.0 2011-05-06               -1.000000
2        87147.0 2003-06-16               -1.000000
3        86260.0 2011-02-15               -1.000000
4        59483.0 2011-05-02               -1.000000
...          ...        ...                     ...
1209024  81049.0 2016-03-30              890.443577
1209025  16034.0 2020-02-19              913.923390
1209026  16034.0 2018-11-07              975.061763
1209027  17094.0 2018-02-12             1002.805783
1209028  16034.0 2019-08-22             1012.729207

[1209029 rows x 3 columns]

In [1]:
# compute the cumulative market-adjusted return
def cumAdjReturn(series):
    print(series['index'])
    ix = df_stock['permno'] == series['permno']
    df = df_stock[ix].reset_index()
    
    # check if the timespan is wide enough
    if (len(df) < 281 or
           df['date'].iloc[10] > series['date'] or
           df['date'].iloc[-271] < series['date']):
        return np.nan
    
    # find the index of each target price date
    ix_target = df[df['date'] == series['date']].index.tolist()[0]
    ix_market = df_index[df_index.date == series['date']].index.tolist()[0]
    
    # we get the price in range(-10,270) in df
    df1 = df.iloc[(ix_target-10):(ix_target+271)]
    df2 = df_index.iloc[(ix_market-10):(ix_market+271)]
    
    # compute cumulative returns into an array
    # cumsum is fitable tool for this task
    df_cum_ret = np.exp(np.log(df1['ret'] + 1).cumsum()).reset_index(drop = True)
    df_mkt_ret = np.exp(np.log(df2['ewretd'] + 1).cumsum()).reset_index(drop = True)
    return  df_cum_ret - df_mkt_ret

# randomly pick a chunk of data to generate plot
# chunk size is in discretion
def randomPlot(size):
    df_sample = df_group_1.sample(size).reset_index(drop = True)
    df_cumret = df_sample.reset_index().apply(cumAdjReturn, axis = 1)
    df_sample = pd.concat([df_sample, df_cumret], axis = 1)
    
    df_sample.sort_values(by = ['expect_12_stock_return'], inplace = True)
    df_sample.dropna(axis = 0, how = "any", inplace = True)
    df_sample = df_sample.reset_index(drop = True).reset_index()
    df_sample['group'] = df_sample['index'] // (len(df_sample) / 8)
    #df_avgret = df_sample.groupby('group')['cumret'].apply(np.mean)
    df_avgret = df_sample.iloc[:,4:].groupby('group').agg(np.nanmean)
    
    df_plot = pd.DataFrame(columns = range(0,281), index = range(1,9))
    for i in range(0,8): df_plot.iloc[i] = df_avgret.iloc[i]
    df_plot.columns = range(-10,271)
    print(df_plot)
    
    plot = df_plot.T.plot(figsize = (20,16))
    plot.get_figure().savefig("rand_" + str(size) + ".png")
    print("rand_" + str(size) + ".png successfully saved.")

In [ ]:
randomPlot(1000)